<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #45A840;"></span>
		<span class="sg-label">
			$mbl-brand-green <br />
			#45A840
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0098C0;"></span>
		<span class="sg-label">
			$mbl-brand-blue <br />
			#0098C0
		</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #F36F21;"></span>
		<span class="sg-label">
			$mbl-brand-orange <br />
			#F36F21
		</span>
	</li>
</ul>
