<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #006600;"></span>
		<span class="sg-label">
            $mbl-util-positive <br />
            #006600
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #009966;"></span>
		<span class="sg-label">
			$mbl-util-positive-subtle <br />
			#009966
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffcc00;"></span>
		<span class="sg-label">
			$mbl-util-caution <br />
			#ffcc00
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffcc66;"></span>
		<span class="sg-label">
			$mbl-util-caution-subtle <br />
			#ffcc66
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cc0000;"></span>
		<span class="sg-label">
			$mbl-util-negative <br />
			#cc0000
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#cc3333;"></span>
		<span class="sg-label">
			$mbl-util-negative-subtle <br />
			#cc3333
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #006699;"></span>
		<span class="sg-label">
			$mbl-util-neutral <br />
			#006699
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3399ff;"></span>
		<span class="sg-label">
			$mbl-util-neutral-subtle <br />
			#3399ff
		</span>
	</li>
</ul>