<div class="mbl-font-primary mbl-font-weight-reg">Primary font: 'roboto', sans-serif;</div>

<div class="mbl-font-primary mbl-font-weight-ital">Primary font italic: 'roboto', sans-serif;</div>

<div class="mbl-font-primary mbl-font-weight-bold">Primary font bold: 'roboto', sans-serif;</div>

<div class="mbl-font-secondary mbl-font-weight-reg">Secondary font: 'Nunito', sans-serif;</div>

<div class="mbl-font-secondary mbl-font-weight-ital">Secondary font italic: 'Nunito', sans-serif;</div>

<div class="mbl-font-secondary mbl-font-weight-bold">Secondary font bold: 'Nunito', sans-serif;</div>
