/*......................... 
  Button styles 
.........................*/


/*icon creation and styling*/

[data-icon]:before {
  font-family: $mbl-fontawesome;
  content: attr(data-icon);
  speak: none;
  margin-right: 0.5em;
}


[close-icon]:before {
  font-family: $mbl-fontawesome;
  content: attr(close-icon);
  speak: none;
  margin-right: 0.5em;
}


/*** buttons ***/

.mbl-btn {
  display: inline-block;
  background: $mbl-util-neutral;
  color: $mbl-grey-white;
  line-height: 1;
  font-family: $mbl-font-secondary;
  font-weight: $mbl-font-style-reg;
  font-size: $mbl-font-size-med;
  padding: $mbl-pad $mbl-pad-and-half;
  border: 0;
  border-radius: $mbl-border-radius-med;
  text-align: center;
  transition: background 0.2s ease;
  cursor: pointer;
  &:hover,
  &:focus {
    background: $mbl-util-neutral-subtle;
    color: $mbl-grey-80;
  }
}
