/*.........................
  Mblazonry card styles
.........................*/


/*** card styling ***/

.mbl-card {
  background: #000000;
  border: 1px solid #AAA;
  border-bottom: 3px solid #BBB;
  padding: 0px;
  margin: 15px;
  overflow: hidden;
}

.mbl-card h1 {
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
}

.mbl-card p {
  margin: 0px;
  padding: 10px;
}