/*......................... 
  Disabled checkboxes styles 
.........................*/

.mbl-checkbox {
  &.disabled {
    & label {
      color: $mbl-grey-20;
      &::before {
        background-color: $mbl-grey-20;
      }
    }
    &:hover label {
      cursor: default;
      color: $mbl-grey-20;
      transition: none;
    }
  }
}