/*.........................
  Mblazonry form styles
.........................*/

/*** text inputs ***/

.mbl-text-input{
    background: $mbl-grey-white;
    border-radius: $mbl-border-radius-med;
    border-style: none;
    border: 2px solid $mbl-util-neutral;
    padding: $mbl-pad-half $mbl-pad;
    color: $mbl-grey-black;
    font-weight: $mbl-font-bold;
    font-family: $mbl-font-secondary;
    transition: background 0.2s ease;
    
    @include placeholder($mbl-grey-30);
    
    &:hover, &:focus {
		background: $mbl-util-neutral-subtle-dim10;
        border-color: $mbl-util-neutral-subtle;
        @include placeholder($mbl-grey-50);
	}
    
    /*** diasabled text input ***/
    
    &.disabled {
        background: $mbl-grey-10;
        border-color: $mbl-grey-20;
        transition: none;
        
        @include placeholder($mbl-grey-20);
        
        &:hover, &:focus {
            @include placeholder($mbl-grey-20);
        }
    }
    
    /*** positive text input ***/
    
    &.positive {
        border-color: $mbl-util-positive;
        
        &:hover, &:focus {
		    background: $mbl-util-positive-subtle-dim10;
            border-color: $mbl-util-positive-subtle;
	    }
    }
    
    /*** caution text input ***/
    
    &.caution {
        border-color: $mbl-util-caution;
        
        &:hover, &:focus {
		    background: $mbl-util-caution-subtle-dim10;
            border-color: $mbl-util-caution-subtle;
	    }
    }
    
    /*** negative text input ***/
    
    &.negative {
        border-color: $mbl-util-negative;
        
        &:hover, &:focus {
		    background: $mbl-util-negative-subtle-dim10;
            border-color: $mbl-util-negative-subtle;
	    }
    }
}

/*** Text area ***/

.mbl-text-area{
    font-family: $mbl-font-secondary;
    font-weight: $mbl-font-bold;
    color: $mbl-grey-black;
    background: $mbl-grey-white;
    padding: $mbl-pad-half $mbl-pad;
    border-style: none;
    border: 2px solid $mbl-util-neutral;
    border-radius: $mbl-border-radius-small;
    
    @include placeholder($mbl-grey-30);
    
    &:hover, &:focus {
		background: $mbl-util-neutral-subtle-dim10;
        border-color: $mbl-util-neutral-subtle;
        @include placeholder($mbl-grey-50);
	}
}

/*** Select menu ***/

.mbl-select-menu{
    font-family: $mbl-font-secondary;
    font-weight: $mbl-font-reg;
    color: $mbl-grey-black;
    background: $mbl-grey-white;
    padding: $mbl-pad-half $mbl-pad-triple;
    border-style: none;
    border: 2px solid $mbl-util-neutral;
    border-radius: $mbl-border-radius-small;

    &:hover{
        background: $mbl-util-neutral-subtle-dim10;
        border-color: $mbl-util-neutral-subtle;
    }

    &:focus{
        background: $mbl-grey-white;
        border-color: $mbl-util-neutral-subtle;
        border-radius: $mbl-border-radius-small;
        outline: 2px solid $mbl-util-neutral;
        outline-style: none;
        box-shadow: none;
    }
}

