/*.........................
  Mblazonry form styles
.........................*/

/*** text inputs ***/

.mbl-text-input{
    background: $mbl-grey-white;
    border-radius: $mbl-border-radius-med;
    border-style: none;
    border: 2px solid $mbl-util-neutral;
    padding: $mbl-pad-half $mbl-pad;
    color: $mbl-grey-black;
    font-weight: $mbl-font-bold;
    font-family: $mbl-font-secondary;
    transition: background 0.2s ease;
    
    @include placeholder($mbl-grey-30);
    
    &:hover, &:focus {
		background: $mbl-util-neutral-subtle-dim10;
        border-color: $mbl-util-neutral-subtle;
        @include placeholder($mbl-grey-50);
	}
    
    /*** diasabled text input ***/
    
    &.disabled {
        background: $mbl-grey-10;
        border-color: $mbl-grey-20;
        transition: none;
        
        @include placeholder($mbl-grey-20);
        
        &:hover, &:focus {
            @include placeholder($mbl-grey-20);
        }
    }
    
    /*** positive text input ***/
    
    &.positive {
        border-color: $mbl-util-positive;
        
        &:hover, &:focus {
		    background: $mbl-util-positive-subtle-dim10;
            border-color: $mbl-util-positive-subtle;
	    }
    }
    
    /*** caution text input ***/
    
    &.caution {
        border-color: $mbl-util-caution;
        
        &:hover, &:focus {
		    background: $mbl-util-caution-subtle-dim10;
            border-color: $mbl-util-caution-subtle;
	    }
    }
    
    /*** negative text input ***/
    
    &.negative {
        border-color: $mbl-util-negative;
        
        &:hover, &:focus {
		    background: $mbl-util-negative-subtle-dim10;
            border-color: $mbl-util-negative-subtle;
	    }
    }
}

/*** Text area ***/

.mbl-text-area{
    font-family: $mbl-font-secondary;
    font-weight: $mbl-font-bold;
    color: $mbl-grey-black;
    background: $mbl-grey-white;
    padding: $mbl-pad-half $mbl-pad;
    border-style: none;
    border: 2px solid $mbl-util-neutral;
    border-radius: $mbl-border-radius-small;
    
    @include placeholder($mbl-grey-30);
    
    &:hover, &:focus {
		background: $mbl-util-neutral-subtle-dim10;
        border-color: $mbl-util-neutral-subtle;
        @include placeholder($mbl-grey-50);
	}
}

/*** Select menu ***/

.mbl-select-menu{
    font-family: $mbl-font-secondary;
    font-weight: $mbl-font-reg;
    color: $mbl-grey-black;
    background: $mbl-grey-white;
    padding: $mbl-pad-half $mbl-pad-triple;
    border-style: none;
    border: 2px solid $mbl-util-neutral;
    border-radius: $mbl-border-radius-small;

    &:hover{
        background: $mbl-util-neutral-subtle-dim10;
        border-color: $mbl-util-neutral-subtle;
    }

    &:focus{
        background: $mbl-grey-white;
        border-color: $mbl-util-neutral-subtle;
        border-radius: $mbl-border-radius-small;
        outline: 2px solid $mbl-util-neutral;
        outline-style: none;
        box-shadow: none;
    }
}

/*** Radio button ***/

input[type=radio] {
    display: none;
}

.mbl-radio-btn{
    
    & label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: $mbl-pad-double-and-half;
    margin-right: $mbl-pad;
    font-size: $mbl-font-large;
    font-family: $mbl-font-secondary;
    
        &::before{
            content: "";
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: 1px;
            background-color: $mbl-util-neutral;
            border-radius: 50%;
        }
    }
    
    &:hover label{
        color: $mbl-util-neutral;
        transition: all 0.2s ease;
    }
    
    /*** Disabled radio button ***/
    
    &.disabled{
        & label{
            color: $mbl-grey-20;
            
            &::before{
                background-color: $mbl-grey-40;
            }
        }
        
        &:hover label{
            cursor: default;
            color: $mbl-grey-20;
            transition: none;
        }
    }
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: $mbl-grey-10;
    font-size: 40px;
    text-align: center;
    line-height: 25px;
}