/*.........................
  Style for meter (progress bar)
.........................*/

.mbl-meter {
  height: 50px;
  width: 100%;
  /* Width can be changed to any size */
  position: relative;
  margin: 10px 0 10px 0;
  background: $mbl-grey-10;
  border-radius: 25px;
  padding: 10px;
  & span {
    display: block;
    height: 100%;
    width: 75%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $mbl-util-neutral-subtle;
  }
}