/** MAIN STYLING FOR METER BAR **/

.mbl-meter {
  height: 50px;
  /* Can be changed to any size */
  position: relative;
  margin: 60px 0 20px 0;
  background: $mbl-grey-20;
  border-radius: 25px;
  padding: 10px;
  & span {
    display: block;
    height: 100%;
    width: 75%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $mbl-util-positive;
  }
}