.mbl-search-bar {
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    & input#mblSearchId {
        width: 300px;
        height: 50px;
        background: $mbl-util-neutral-subtle-dim60;
        border: none;
        font-size: $mbl-font-size-small;
        float: left;
        color: $mbl-grey-white;
        padding-left: $mbl-pad-double;
        -webkit-border-radius: $mbl-border-radius-med;
        -moz-border-radius: $mbl-border-radius-med;
        border-radius: $mbl-border-radius-med;
      &::-webkit-input-placeholder {
        color: $mbl-grey-white;
      }
      &:-moz-placeholder {
        color: $mbl-grey-white;
      }
      &::-moz-placeholder {
        color: $mbl-grey-white;
      }
      &:-ms-input-placeholder {
        color: $mbl-grey-white;
      }
      &:hover,
      &:focus {
        background: $mbl-util-neutral-subtle-dim70; 
      }
    }
    & button.icon {
        -webkit-border-top-right-radius: $mbl-border-radius-med;
        -webkit-border-bottom-right-radius: $mbl-border-radius-med;
        -moz-border-radius-topright: $mbl-border-radius-med;
        -moz-border-radius-bottomright: $mbl-border-radius-med;
        border-top-right-radius: $mbl-border-radius-med;
        border-bottom-right-radius: $mbl-border-radius-med;
        border: none;
        background: $mbl-util-neutral-dim40;
        height: 50px;
        width: 50px;
        color: $mbl-grey-white;
        opacity: 0;
        font-size: $mbl-font-size-small;
        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;
      &:hover,
      &:focus {
        background: $mbl-util-neutral-dim30;
      }
    }
    &:hover button.icon,
    &:active button.icon,
    &:focus button.icon {
        outline: none;
        opacity: 1;
        margin-left: -50px;
    }
}