/*.........................
  Styles for input Field
.........................*/

.mbl-input-field {
  margin-bottom: $mbl-pad;
  &>.label {
    font-family: $mbl-font-secondary;
    font-weight: $mbl-font-style-reg;
    font-size: $mbl-font-size-med;
  }
}