/*.......................................
   Table of contents
.......................................*/


/*
*
* CORE.........................Declarations of scss variables
* colour-variables.............colour variables
* fonts........................includes fonts used across entire inventory
* global-classes...............Various classes and base styles used across entire inventory
* headings.....................base styles used for headings (H1, H2, etc.)
* links........................base styles used for links
* mixins.......................Various mixins used across entire inventory
* reset........................css reset to reset default browser styles
* spacing-variables............base styles and variables for spacing content
* typography-variables.........font variables
*
*****
*****
*
* COMPONENTS....................Styles specific to components
* buttons.......................Default button styles
* buttons-disabled..............Styles specific to disabled buttons
* buttons-positive..............Styles specific to positive buttons
* buttons-caution...............Styles specific to caution buttons
* buttons-negative..............Styles specific to negative buttons
* buttons-large.................Styles specific to large buttons
* buttons-small.................Styles specific to small buttons
* text-buttons..................Default text button styles
* text-buttons-disabled.........Styles specific to disabled text buttons
* text-buttons-positive.........Styles specific to positive text buttons
* text-buttons-caution..........Styles specific to caution text buttons
* text-buttons-negative.........Styles specific to negative text buttons
* radio-buttons.................Default radio button styles
* radio-buttons-disabled........Styles specific to disabled radio buttons
* checkboxes....................Default checkboxes styles
* checkboxes-disabled...........Styles specific to disabled checkboxes
* text-input....................Default text input styles
* text-input-disabled...........Styles specific to disabled text inputs
* text-input-positive...........Styles specific to positive text inputs
* text-input-caution............Styles specific to caution text inputs
* text-input-negative...........Styles specific to negative text inputs
* text-area.....................Default text area styles
* select-menu...................Default select menu styles
* forms.........................Styles specific to all forms
* meter.........................Styles specific to the meter (progress bar)
* search-bar....................Styles specific to the search bar
* 
*/


/*.....................................
    CORE
.....................................*/

@import "scss/core/reset";
@import "scss/core/fonts";
@import "scss/core/colour-variables";
@import "scss/core/typography-variables";
@import "scss/core/spacing-variables";
@import "scss/core/global-classes";
@import "scss/core/headings";
@import "scss/core/links";
@import "scss/core/mixins";

/*.....................................
    COMPONENTS
.....................................*/

@import "scss/components/buttons";
@import "scss/components/buttons-disabled";
@import "scss/components/buttons-positive";
@import "scss/components/buttons-caution";
@import "scss/components/buttons-negative";
@import "scss/components/buttons-large";
@import "scss/components/buttons-small";
@import "scss/components/text-buttons";
@import "scss/components/text-buttons-disabled";
@import "scss/components/text-buttons-positive";
@import "scss/components/text-buttons-caution";
@import "scss/components/text-buttons-negative";
@import "scss/components/radio-buttons";
@import "scss/components/radio-buttons-disabled";
@import "scss/components/checkboxes";
@import "scss/components/checkboxes-disabled";
@import "scss/components/text-input";
@import "scss/components/text-input-disabled";
@import "scss/components/text-input-positive";
@import "scss/components/text-input-caution";
@import "scss/components/text-input-negative";
@import "scss/components/text-area";
@import "scss/components/select-menu";
@import "scss/components/forms";
@import "scss/components/meter";
@import "scss/components/search-bar";
<<<<<<< HEAD
=======
@import "scss/components/loading";
>>>>>>> Added labeled progress meter molecule, edited size of progress meter for better visual representation
