/*.......................................
   Table of contents
.......................................*/


/*
*
* CORE....................Declarations of scss variables
* colour-variables........colour variables
* global-classes..........Various classes and base styles used across entire inventory
* headings................base styles used for headings (H1, H2, etc.)
* links...................base styles used for links
* mixins..................Various mixins used across entire inventory
* reset...................css reset to reset default browser styles
* spacing-variables.......base styles and variables for spacing content
* typography-variables....font variables
*
*****
*****
*
* COMPONENTS...............Styles specific to components
* buttons..................Styles specific to all buttons
* fields...................Styles specific to all input fields
* forms....................Styles specific to all forms
* 
*/


/*.....................................
    CORE
.....................................*/

@import "scss/core/reset";
@import "scss/core/colour-variables";
@import "scss/core/typography-variables";
@import "scss/core/spacing-variables";
@import "scss/core/global-classes";
@import "scss/core/headings";
@import "scss/core/links";
@import "scss/core/mixins";

/*.....................................
    COMPONENTS
.....................................*/

@import "scss/components/buttons";
@import "scss/components/fields";
@import "scss/components/forms";