/*.......................................
   Table of contents
.......................................*/
/*
*
* CORE.........................Declarations of scss variables
* colour-variables.............colour variables
* fonts........................includes fonts used across entire inventory
* global-classes...............Various classes and base styles used across entire inventory
* headings.....................base styles used for headings (H1, H2, etc.)
* links........................base styles used for links
* mixins.......................Various mixins used across entire inventory
* reset........................css reset to reset default browser styles
* spacing-variables............base styles and variables for spacing content
* typography-variables.........font variables
*
*****
*****
*
* COMPONENTS....................Styles specific to components
* buttons.......................Default button styles
* buttons-disabled..............Styles specific to disabled buttons
* buttons-positive..............Styles specific to positive buttons
* buttons-caution...............Styles specific to caution buttons
* buttons-negative..............Styles specific to negative buttons
* buttons-large.................Styles specific to large buttons
* buttons-small.................Styles specific to small buttons
* text-buttons..................Default text button styles
* text-buttons-disabled.........Styles specific to disabled text buttons
* text-buttons-positive.........Styles specific to positive text buttons
* text-buttons-caution..........Styles specific to caution text buttons
* text-buttons-negative.........Styles specific to negative text buttons
* radio-buttons.................Default radio button styles
* radio-buttons-disabled........Styles specific to disabled radio buttons
* checkboxes....................Default checkboxes styles
* checkboxes-disabled...........Styles specific to disabled checkboxes
* text-input....................Default text input styles
* text-input-disabled...........Styles specific to disabled text inputs
* text-input-positive...........Styles specific to positive text inputs
* text-input-caution............Styles specific to caution text inputs
* text-input-negative...........Styles specific to negative text inputs
* text-area.....................Default text area styles
* select-menu...................Default select menu styles
* forms.........................Styles specific to all forms
* 
*/
/*.....................................
    CORE
.....................................*/
/**
 * Use border box on all elements
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Zero out margin and padding on most elements as base style
 */
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0; }

/**
 * Display block as base for these elements
 */
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block; }

/*.........................
  Start font imports
.........................*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../../../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../../../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../../../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../../../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../../../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../../../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito', sans-serif;
  src: url("../../../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*.........................
    Colour variables
.........................*/
/*** mblazonry brand colours ***/
/*** Greyscale ***/
/*** Utilities ***/
/*** Utility classes are used to provide feedback to users, such as in alert messages, form validation, etc. ***/
/*** utility positive ***/
/*** utility neutral ***/
/*** utility caution ***/
/*** utility negative ***/
/*.........................
    Typography variables
.........................*/
/*** The two Google fonts used here ('Nunito' and 'Roboto') have been embeded with the following weights: 400 and 700. ***/
/*** Fonts ***/
/*** Font weights ***/
/*** Font sizes ***/
/*.........................
    Spacing Variables
.........................*/
/*** Spacing ***/
/*** Padding ***/
/*** Margin ***/
/*** Borders ***/
/*.........................
    Global classes
.........................*/
/*** Clearfix ***/
/* These classes are based on the micro clearfix hack by Nicholas Gallagher - http://nicolasgallagher.com/micro-clearfix-hack/ */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*** Hidden ***/
.is-hidden {
  display: none !important;
  visibility: hidden !important; }

/*.........................
    Alignment
.........................*/
.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

/*.........................
    Feedback colours
.........................*/
.mbl-valid {
  color: #006600; }

.mbl-warning {
  color: #ffcc00; }

.mbl-error {
  color: #cc0000; }

.mbl-neutral {
  color: #006699; }

/*.........................
    Fonts
.........................*/
.mbl-font-primary {
  font-family: "Roboto", sans-serif; }

.mbl-font-secondary {
  font-family: "Nunito", sans-serif; }

.mbl-font-weight-reg {
  font-weight: 400; }

.mbl-font-weight-ital {
  font-weight: 400;
  font-style: italic; }

.mbl-font-weight-bold {
  font-weight: 700; }

.mbl-font-small {
  font-size: 0.75rem; }

.mbl-font-med {
  font-size: 1rem; }

.mbl-font-large {
  font-size: 1.25rem; }

/*.........................
    Floats
.........................*/
.float-left {
  float: left; }

.float-right {
  float: right; }

/*.........................
    Padding
.........................*/
.mbl-pad {
  padding: 1em; }

.mbl-pad-and-half {
  padding: 1.5em; }

.mbl-pad-double {
  padding: 2em; }

.mbl-pad-double-and-half {
  padding: 2.5em; }

.mbl-pad-triple {
  padding: 3em; }

.mbl-pad-half {
  padding: 0.5em; }

.mbl-pad-quarter {
  padding: 0.25em; }

/*.........................
    Padding right
.........................*/
.mbl-pad-right {
  padding-right: 1em; }

.mbl-pad-and-half-right {
  padding-right: 1.5em; }

.mbl-pad-double-right {
  padding-right: 2em; }

.mbl-pad-double-and-half-right {
  padding-right: 2.5em; }

.mbl-pad-triple-right {
  padding-right: 3em; }

.mbl-pad-half-right {
  padding-right: 0.5em; }

.mbl-pad-quarter-right {
  padding-right: 0.25em; }

/*.........................
    Padding Left
.........................*/
.mbl-pad-left {
  padding-left: 1em; }

.mbl-pad-and-half-left {
  padding-left: 1.5em; }

.mbl-pad-double-left {
  padding-left: 2em; }

.mbl-pad-double-and-half-left {
  padding-left: 2.5em; }

.mbl-pad-triple-left {
  padding-left: 3em; }

.mbl-pad-half-left {
  padding-left: 0.5em; }

.mbl-pad-quarter-left {
  padding-left: 0.25em; }

/*.........................
    Padding Top
.........................*/
.mbl-pad-top {
  padding-top: 1em; }

.mbl-pad-and-half-top {
  padding-top: 1.5em; }

.mbl-pad-double-top {
  padding-top: 2em; }

.mbl-pad-double-and-half-top {
  padding-top: 2.5em; }

.mbl-pad-triple-top {
  padding-top: 3em; }

.mbl-pad-half-top {
  padding-top: 0.5em; }

.mbl-pad-quarter-top {
  padding-top: 0.25em; }

/*.........................
    Padding Bottom
.........................*/
.mbl-pad-bottom {
  padding-bottom: 1em; }

.mbl-pad-and-half-bottom {
  padding-bottom: 1.5em; }

.mbl-pad-double-bottom {
  padding-bottom: 2em; }

.mbl-pad-double-and-half-bottom {
  padding-bottom: 2.5em; }

.mbl-pad-triple-bottom {
  padding-bottom: 3em; }

.mbl-pad-half-bottom {
  padding-bottom: 0.5em; }

.mbl-pad-quarter-bottom {
  padding-bottom: 0.25em; }

/*.........................
    Margin
.........................*/
.mbl-margin {
  margin: 1em; }

.mbl-margin-and-half {
  margin: 1.5em; }

.mbl-margin-double {
  margin: 2em; }

.mbl-margin-double-and-half {
  margin: 2.5em; }

.mbl-margin-triple {
  margin: 3em; }

.mbl-margin-half {
  margin: 0.5em; }

.mbl-margin-quarter {
  margin: 0.25em; }

/*.........................
    Margin right
.........................*/
.mbl-margin-right {
  margin-right: 1em; }

.mbl-margin-and-half-right {
  margin-right: 1.5em; }

.mbl-margin-double-right {
  margin-right: 2em; }

.mbl-margin-double-and-half-right {
  margin-right: 2.5em; }

.mbl-margin-triple-right {
  margin-right: 3em; }

.mbl-margin-half-right {
  margin-right: 0.5em; }

.mbl-margin-quarter-right {
  margin-right: 0.25em; }

/*.........................
    Margin Left
.........................*/
.mbl-margin-left {
  margin-left: 1em; }

.mbl-margin-and-half-left {
  margin-left: 1.5em; }

.mbl-margin-double-left {
  margin-left: 2em; }

.mbl-margin-double-and-half-left {
  margin-left: 2.5em; }

.mbl-margin-triple-left {
  margin-left: 3em; }

.mbl-margin-half-left {
  margin-left: 0.5em; }

.mbl-margin-quarter-left {
  margin-left: 0.25em; }

/*.........................
    Margin Top
.........................*/
.mbl-margin-top {
  margin-top: 1em; }

.mbl-margin-and-half-top {
  margin-top: 1.5em; }

.mbl-margin-double-top {
  margin-top: 2em; }

.mbl-margin-double-and-half-top {
  margin-top: 2.5em; }

.mbl-margin-triple-top {
  margin-top: 3em; }

.mbl-margin-half-top {
  margin-top: 0.5em; }

.mbl-margin-quarter-top {
  margin-top: 0.25em; }

/*.........................
    Margin Bottom
.........................*/
.mbl-margin-bottom {
  margin-bottom: 1em; }

.mbl-margin-and-half-bottom {
  margin-bottom: 1.5em; }

.mbl-margin-double-bottom {
  margin-bottom: 2em; }

.mbl-margin-double-and-half-bottom {
  margin-bottom: 2.5em; }

.mbl-margin-triple-bottom {
  margin-bottom: 3em; }

.mbl-margin-half-bottom {
  margin-bottom: 0.5em; }

.mbl-margin-quarter-bottom {
  margin-bottom: 0.25em; }

/*..............................
    Headings
..............................*/
h1 {
  font-size: 3rem;
  line-height: 1.2; }

h2 {
  font-size: 2.6rem;
  line-height: 1.2; }

h3 {
  font-size: 2.2rem;
  line-height: 1.2; }

h4 {
  font-size: 2rem;
  line-height: 1.2; }

h5 {
  font-size: 1.6rem;
  line-height: 1.2; }

h6 {
  font-size: 1.2rem;
  line-height: 1.2; }

.subheading {
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

/*.........................
    Links
.........................*/
a {
  color: #808080;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #4d4d4d; }

/*..........................
    Mixins
..........................*/
/*.....................................
    COMPONENTS
.....................................*/
/*......................... 
  Button styles 
.........................*/
/*icon creation and styling*/
[data-icon]:before {
  font-family: "FontAwesome";
  content: attr(data-icon);
  speak: none;
  margin-right: 0.5em; }

[close-icon]:before {
  font-family: "FontAwesome";
  content: attr(close-icon);
  speak: none;
  margin-right: 0.5em; }

/*** buttons ***/
.mbl-btn {
  display: inline-block;
  background: #006699;
  color: #ffffff;
  line-height: 1;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 1em 1.5em;
  border: 0;
  border-radius: 5px;
  text-align: center;
  transition: background 0.2s ease;
  cursor: pointer; }
  .mbl-btn:hover, .mbl-btn:focus {
    background: #3399ff;
    color: #333333; }

/*......................... 
  Disabled button styles 
.........................*/
.mbl-btn.disabled {
  background: #b3b3b3;
  color: #808080; }
  .mbl-btn.disabled:hover, .mbl-btn.disabled:focus {
    cursor: default; }

/*......................... 
  Positive button styles 
.........................*/
.mbl-btn.positive {
  background: #006600; }
  .mbl-btn.positive:hover, .mbl-btn.positive:focus {
    background: #009966; }

/*......................... 
  Caution button styles 
.........................*/
.mbl-btn.caution {
  background: #ffcc00;
  color: #333333; }
  .mbl-btn.caution:hover, .mbl-btn.caution:focus {
    background: #ffcc66;
    color: #808080; }

/*......................... 
  Negative button styles 
.........................*/
.mbl-btn.negative {
  background: #cc0000; }
  .mbl-btn.negative:hover, .mbl-btn.negative:focus {
    background: #993333;
    color: #b3b3b3; }

/*......................... 
  Large button styles 
.........................*/
.mbl-btn.large {
  padding: 1.5em 3em;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 7px; }

/*......................... 
  Small button styles 
.........................*/
.mbl-btn.small {
  padding: 0.5em;
  font-size: 0.75rem; }

/*......................... 
  Text button styles 
.........................*/
.mbl-text-btn {
  position: relative;
  background: none;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #006699; }
  .mbl-text-btn:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: url("../../../images/double-chevron-right.svg") no-repeat;
    top: 5px;
    right: -25px;
    transition: all 0.2s ease; }
  .mbl-text-btn:hover, .mbl-text-btn:focus {
    color: #3399ff;
    cursor: pointer; }
    .mbl-text-btn:hover:after, .mbl-text-btn:focus:after {
      right: -35px; }

/*......................... 
  Disabled text button styles 
.........................*/
.mbl-text-btn.disabled {
  color: #b3b3b3; }
  .mbl-text-btn.disabled:hover {
    cursor: default; }
  .mbl-text-btn.disabled:after {
    right: -25px; }

/*......................... 
  Positive text button styles 
.........................*/
.mbl-text-btn.positive {
  color: #006600; }
  .mbl-text-btn.positive:hover, .mbl-text-btn.positive:focus {
    color: #009966; }

/*......................... 
  Caution text button styles 
.........................*/
.mbl-text-btn.caution {
  color: #ffcc00; }
  .mbl-text-btn.caution:hover, .mbl-text-btn.caution:focus {
    color: #ffcc66; }

/*......................... 
  Negative text button styles 
.........................*/
.mbl-text-btn.negative {
  color: #cc0000; }
  .mbl-text-btn.negative:hover, .mbl-text-btn.negative:focus {
    color: #993333; }

/*......................... 
  Radio button styles 
.........................*/
input[type=radio] {
  display: none; }

.mbl-radio-btn label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-family: "Nunito", sans-serif; }
  .mbl-radio-btn label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #006699;
    border-radius: 50%; }

.mbl-radio-btn:hover label {
  color: #006699;
  transition: all 0.2s ease; }

.mbl-radio-btn input[type=radio]:checked + label:before {
  content: "\2022";
  color: #e5e5e5;
  font-size: 50px;
  text-align: center;
  line-height: 31px; }

/*......................... 
  Disabled radio button styles 
.........................*/
.mbl-radio-btn.disabled label {
  color: #cdcdcd; }
  .mbl-radio-btn.disabled label::before {
    background-color: #999999; }

.mbl-radio-btn.disabled:hover label {
  cursor: default;
  color: #cdcdcd;
  transition: none; }

/*......................... 
  Checkboxes styles 
.........................*/
input[type=checkbox] {
  display: none; }

.mbl-checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.5em;
  margin-right: 1em;
  font-size: 1.25rem;
  font-family: "Nunito", sans-serif; }
  .mbl-checkbox label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #cdcdcd; }

.mbl-checkbox:hover label {
  color: #006699;
  transition: all 0.2s ease; }

.mbl-checkbox input[type=checkbox]:checked + label:before {
  content: "\2714";
  color: #45A840;
  font-size: 40px;
  text-align: center;
  line-height: 25px; }

/*......................... 
  Disabled checkboxes styles 
.........................*/
.mbl-checkbox.disabled label {
  color: #cdcdcd; }
  .mbl-checkbox.disabled label::before {
    background-color: #cdcdcd; }

.mbl-checkbox.disabled:hover label {
  cursor: default;
  color: #cdcdcd;
  transition: none; }

/*.........................
  Text input styles
.........................*/
.mbl-text-input {
  background: #ffffff;
  border-radius: 5px;
  border-style: none;
  border: 2px solid #006699;
  padding: 0.5em 1em;
  margin: 1em;
  color: #000000;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  transition: background 0.2s ease; }
  .mbl-text-input::-webkit-input-placeholder {
    color: #b3b3b3; }
  .mbl-text-input:-moz-placeholder {
    color: #b3b3b3; }
  .mbl-text-input::-moz-placeholder {
    color: #b3b3b3; }
  .mbl-text-input:-ms-input-placeholder {
    color: #b3b3b3; }
  .mbl-text-input:hover, .mbl-text-input:focus {
    background: rgba(51, 153, 255, 0.1);
    border-color: #3399ff; }
    .mbl-text-input:hover::-webkit-input-placeholder, .mbl-text-input:focus::-webkit-input-placeholder {
      color: #808080; }
    .mbl-text-input:hover:-moz-placeholder, .mbl-text-input:focus:-moz-placeholder {
      color: #808080; }
    .mbl-text-input:hover::-moz-placeholder, .mbl-text-input:focus::-moz-placeholder {
      color: #808080; }
    .mbl-text-input:hover:-ms-input-placeholder, .mbl-text-input:focus:-ms-input-placeholder {
      color: #808080; }

.mbl-input-field {
  margin-bottom: 1em; }
  .mbl-input-field > .label {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1rem; }

/*.........................
  Disabled text input styles
.........................*/
.mbl-text-input.disabled {
  background: #e5e5e5;
  border-color: #cdcdcd;
  transition: none; }
  .mbl-text-input.disabled::-webkit-input-placeholder {
    color: #cdcdcd; }
  .mbl-text-input.disabled:-moz-placeholder {
    color: #cdcdcd; }
  .mbl-text-input.disabled::-moz-placeholder {
    color: #cdcdcd; }
  .mbl-text-input.disabled:-ms-input-placeholder {
    color: #cdcdcd; }
  .mbl-text-input.disabled:hover, .mbl-text-input.disabled:focus {
    cursor: not-allowed; }
    .mbl-text-input.disabled:hover::-webkit-input-placeholder, .mbl-text-input.disabled:focus::-webkit-input-placeholder {
      color: #cdcdcd; }
    .mbl-text-input.disabled:hover:-moz-placeholder, .mbl-text-input.disabled:focus:-moz-placeholder {
      color: #cdcdcd; }
    .mbl-text-input.disabled:hover::-moz-placeholder, .mbl-text-input.disabled:focus::-moz-placeholder {
      color: #cdcdcd; }
    .mbl-text-input.disabled:hover:-ms-input-placeholder, .mbl-text-input.disabled:focus:-ms-input-placeholder {
      color: #cdcdcd; }

/*.........................
  Positive text input styles
.........................*/
.mbl-text-input.positive {
  border-color: #006600; }
  .mbl-text-input.positive:hover, .mbl-text-input.positive:focus {
    background: rgba(0, 153, 102, 0.1);
    border-color: #009966; }

/*.........................
  Caution text input styles
.........................*/
.mbl-text-input.caution {
  border-color: #ffcc00; }
  .mbl-text-input.caution:hover, .mbl-text-input.caution:focus {
    background: rgba(255, 204, 102, 0.1);
    border-color: #ffcc66; }

/*.........................
  Negative text input styles
.........................*/
.mbl-text-input.negative {
  border-color: #cc0000; }
  .mbl-text-input.negative:hover, .mbl-text-input.negative:focus {
    background: rgba(153, 51, 51, 0.1);
    border-color: #993333; }

/*.........................
  Text area styles
.........................*/
.mbl-text-area {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #000000;
  background: #ffffff;
  padding: 0.5em 2em;
  margin-bottom: 1em;
  border-style: none;
  border: 2px solid #006699;
  border-radius: 3px; }
  .mbl-text-area::-webkit-input-placeholder {
    color: #b3b3b3; }
  .mbl-text-area:-moz-placeholder {
    color: #b3b3b3; }
  .mbl-text-area::-moz-placeholder {
    color: #b3b3b3; }
  .mbl-text-area:-ms-input-placeholder {
    color: #b3b3b3; }
  .mbl-text-area:hover, .mbl-text-area:focus {
    background: rgba(51, 153, 255, 0.1);
    border-color: #3399ff; }
    .mbl-text-area:hover::-webkit-input-placeholder, .mbl-text-area:focus::-webkit-input-placeholder {
      color: #808080; }
    .mbl-text-area:hover:-moz-placeholder, .mbl-text-area:focus:-moz-placeholder {
      color: #808080; }
    .mbl-text-area:hover::-moz-placeholder, .mbl-text-area:focus::-moz-placeholder {
      color: #808080; }
    .mbl-text-area:hover:-ms-input-placeholder, .mbl-text-area:focus:-ms-input-placeholder {
      color: #808080; }

/*.........................
  Select menu styles
.........................*/
.mbl-select-menu {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
  padding: 0.5em 3em;
  border-style: none;
  border: 2px solid #006699;
  border-radius: 3px; }
  .mbl-select-menu:hover {
    background: rgba(51, 153, 255, 0.1);
    border-color: #3399ff; }
  .mbl-select-menu:focus {
    background: #ffffff;
    border-color: #3399ff;
    border-radius: 3px;
    outline: 2px solid #006699;
    outline-style: none;
    box-shadow: none; }

/*.........................
  Mblazonry forms styles
.........................*/
.mbl-form-test-feb27 {
  border: 2xp solid #006699;
  border-radius: 3px; }
