<div class="mbl-sample-card">
  <h6>This is a sample card<h6>
  <span>&ensp; {{> atoms-archive }}</span><span> &ensp; {{> atoms-comment }}</span><span> &ensp; {{> atoms-subscribe }}</span>
  <br>
  <br>
  {{> atoms-button-positive }}
</div>