<div class="mbl-list">
  <h5>{{listTitle}}</h5>
  <div class="mbl-list-extras">{{> atoms-elipsis}}</div>
  <span class="mbl-list-content"></span>
  <br>
  <br>
  <a class="mbl-list-add-card">Add a card...</a>
</div>