<form>
    <div>{{>molecules-header}}</div>
    <span class="mbl-font-secondary">Text Area:</span>
    <div>{{>atoms-text-area}}</div>
    <div><span>{{>atoms-button-positive}}</span>
    <span>{{>atoms-button-negative}}</span></div>
</form>
