<form class="mbl-checklist">
    {{>molecules-header}}
    {{>molecules-labeled-meter}}
    {{>molecules-checkbox}}
    {{>atoms-text-field}}
    {{>molecules-checkbox}}
    {{>atoms-text-field}}
    {{>molecules-checkbox}}
    {{>atoms-text-field}}
    {{>molecules-checkbox}}
    {{>atoms-text-field}}
    <h6>Leave a comment:</h6>
    {{>atoms-text-area}}
    {{>atoms-button-negative}}
    {{>atoms-button-positive}}
</form>