
    <div>{{>molecules-header}}</div>
    {{>molecules-checkbox}}
    <br>
    {{>molecules-checkbox-disabled}}
    <br>
    {{>molecules-checkbox-disabled-checked}}
    {{>atoms-meter}}
    <div><span>{{>atoms-button-positive}}</span>
    <span>{{>atoms-button-negative}}</span></div>

