<form>
    <div>{{>molecules-header}}</div>
    <div>{{>molecules-checkbox}}</div>
    <div>{{>molecules-checkbox-disabled}}</div>
    <div>{{>molecules-checkbox-disabled-checked}}</div>
    <div>{{>atoms-meter}}</div>
    <div><span>{{>atoms-button-positive}}</span>
    <span>{{>atoms-button-negative}}</span></div>
</form>
