<form class="mbl-margin-and-half-left">
    <div class="mbl-margin-bottom">{{>molecules-labeled-input-field}}</div>
    <div class="mbl-margin-bottom">{{>molecules-labeled-input-field}}</div>
    <span class="mbl-font-secondary mbl-margin-bottom">Enter description:</span>
    <div class="mbl-margin-bottom">{{>atoms-text-area}}</div>
    <div class="mbl-margin-bottom">{{>molecules-radio-button}}</div>
    <div class="mbl-margin-bottom">{{>molecules-radio-button-disabled}}</div>
    <div class="mbl-margin-bottom">{{>molecules-radio-button-disabled-checked}}</div>
    <div><span class="mbl-margin-double-right">{{>atoms-button-negative}}</span><span>{{>atoms-button-positive}}</span></div>
</form>

