<div>
<h6>Add</h6>
{{>atoms-small-avatar-button}} <br>
{{>atoms-small-label-button}} <br>
{{>atoms-small-check-button}} <br>
{{>atoms-small-date-button}} <br>
{{>atoms-small-attach-button}}
</div>

<div>
<h6>Actions</h6>
{{>atoms-small-move-button}} <br>
{{>atoms-small-copy-button}} <br>
{{>atoms-small-subscribe-button}} <br>
{{>atoms-small-archive-button}} <br>

<br>
{{>atoms-text-button}}
</div>
