<div>
<h6>Add</h6>
{{>molecules-small-avatar-button}} <br>
{{>molecules-small-label-button}} <br>
{{>molecules-small-check-button}} <br>
{{>molecules-small-date-button}} <br>
{{>molecules-small-attach-button}}
</div>

<div>
<h6>Actions</h6>
{{>molecules-small-move-button}} <br>
{{>molecules-small-copy-button}} <br>
{{>molecules-small-subscribe-button}} <br>
{{>molecules-small-archive-button}} <br>

<br>
{{>atoms-text-button-positive}}
</div>
