<div style="width: 500px;">
{{>molecules-header}}
<div style="float: left; width: 20px;">{{>atoms-avatar}}</div>
<div style="float: left; width: 200px;">{{>atoms-text-area}}</div>
<div style="float: right; width: 285px;">{{>atoms-attach}} {{>atoms-comment}} {{>atoms-smile}} {{>atoms-edit}}</div>
<div style="float: right; width: 325px;">{{>molecules-positive-check-button}}</div>
<br style="clear: left;" />
</div>