/*..............................
    Headings
..............................*/

h1  {
	font-size: 3rem;
	line-height: 1.2;
}

h2 {
    font-size: 2.6rem;
	line-height: 1.2;
}

h3  {
    font-size: 2.2rem;
	line-height: 1.2;
}

h4  {
    font-size: 2rem;
    line-height: 1.2;
}

h5 {
    font-size: 1.6rem;
    line-height: 1.2;
}

h6 {
    font-size: 1.2rem;
    line-height: 1.2;
}

.subheading {
	font-family: $mbl-font-secondary;
	font-weight: $mbl-font-style-reg;
}