/*..............................
    Headings
..............................*/

h1 {
  font-size: 3rem;
  font-family: $mbl-font-primary;
  line-height: 1.2;
  font-family: $mbl-font-primary;
}

h2 {
  font-size: 2.6rem;
  font-family: $mbl-font-primary;
  line-height: 1.2;
  font-family: $mbl-font-primary;
}

h3 {
  font-size: 2.2rem;
  font-family: $mbl-font-primary;
  line-height: 1.2;
  font-family: $mbl-font-primary;
}

h4 {
  font-size: 2rem;
  font-family: $mbl-font-primary;
  line-height: 1.2;
  font-family: $mbl-font-primary;
}

h5 {
  font-size: 1.6rem;
  font-family: $mbl-font-primary;
  line-height: 1.2;
  font-family: $mbl-font-primary;
}

h6 {
  font-size: 1.2rem;
  font-family: $mbl-font-primary;
  line-height: 1.2;
  font-family: $mbl-font-primary;
}

.subheading {
  font-family: $mbl-font-secondary;
  font-weight: $mbl-font-style-reg;
}
