/*.........................
    Spacing Variables
.........................*/

/*** Spacing ***/

$mbl-space : 1em;
$mbl-space-and-half : $mbl-space*1.5;
$mbl-space-double : $mbl-space*2;
$mbl-space-quad : $mbl-space*4;
$mbl-space-half : $mbl-space/2;

/*** Borders ***/

$mbl-border-sm: 3px;
$mbl-border-lg: 7px;

$mbl-border-radius: 5px;