/*.........................
    Typography variables
.........................*/

/*** The two Google fonts used here ('Nunito' and 'Roboto') have been embeded with the following weights: 400 and 700. ***/

/*** Fonts ***/

$mbl-font-primary: "Roboto", sans-serif;
$mbl-font-secondary: "Nunito", sans-serif;

/*** Font weights ***/

$mbl-font-style-bold: 700;
$mbl-font-style-reg: 400;

/*** Font sizes ***/

$mbl-font-size-small: 0.75rem;
$mbl-font-size-med: 1rem;
$mbl-font-size-large: 1.25rem;
$mbl-font-size-xlarge: 1.5rem;