<select id="select" class="mbl-select-menu">
    <optgroup label="Choose one">
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
    </optgroup>
</select>
