<label>Checkbox Small</label>
		<input type="checkbox" id="checkbox-1-1" class="mbl-checkbox" />
		<nput type="checkbox" id="checkbox-1-2" class="mbl-checkbox" />
		<input type="checkbox" id="checkbox-1-3" class="mbl-checkbox" />
		<input type="checkbox" id="checkbox-1-4" class="mbl-checkbox" />

		<label>Checkbox Big</label>
		<input type="checkbox" id="checkbox-2-1" class="mbl-checkbox big-checkbox" />
		<input type="checkbox" id="checkbox-2-2" class="mbl-checkbox big-checkbox" />
		<input type="checkbox" id="checkbox-2-3" class="mbl-checkbox big-checkbox" />
		<input type="checkbox" id="checkbox-2-4" class="mbl-checkbox big-checkbox" />